body {
    background-color: rgb(226, 195, 255);
    text-align: center;
}

p {
    color:rgb(154, 48, 196);
}

h1 {
    font-style:italic;
}

.estrela{
    color:rgb(67, 0, 94);
    font-size:xx-large;
}
.GUTS{
    width:10%;
}
.SOUR{
    width:10%;
}
.olivia{
    width:10%;
    text-align: center;
}